/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light grey background */
    background-image: url(module_table_bottom.png);
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
}

/* Welcome Container Styles */
.welcome-container {
    max-width: 800px;
    margin: 275px auto; /* Centering the container */
    padding: 20px;
    text-align: center; /* Centered text */
    background-color: #ffffff; /* White background for the card */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Heading Styles */
h1 {
    font-size: 2.5em; /* Large heading */
    color: #007bff; /* Blue color for the main heading */
    margin-bottom: 20px; /* Space below the heading */
}

h2 {
    font-size: 4em; /* Medium heading */
    color: #333; /* Dark color for the subheading */
    margin: 20px 0; /* Space above and below */
}

/* Button Styles */
.actions {
    margin-top: 30px; /* Space above the action buttons */
}

.button {
    display: inline-block; /* Inline block for proper spacing */
    padding: 12px 24px; /* Padding for button */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    background-color: #28a745; /* Blue button color */
    color: white; /* White text color */
    font-size: 1.1em; /* Larger text */
    transition: background-color 0.3s; /* Smooth transition */
    margin: 10px; /* Space between buttons */
}

.button:hover {
    background-color: #218838; /* Darker blue on hover */
    text-decoration: none; /* No underline */
    color: white; /* White text color */

}

/* Responsive Design */
@media (max-width: 768px) {
    .welcome-container {
        padding: 15px; /* Less padding on small screens */
    }
    h1 {
        font-size: 2em; /* Smaller heading on mobile */
    }
    h2 {
        font-size: 1.5em; /* Smaller subheading on mobile */
    }
}


/* Footer styling */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ec54b9;
    color: white;
    text-align: center;
    padding: 20px;
  }